*.dist-info
*.pth
*.pyc
*venv
.editorconfig
.jshintrc
.travis.yml
grunt-pylint*.tgz
node_modules
npm-debug.log
reports
tasks/lib/astroid
tasks/lib/backports
tasks/lib/colorama
tasks/lib/configparser.py
tasks/lib/isort
tasks/lib/lazy_object_proxy
tasks/lib/logilab
tasks/lib/mccabe.py
tasks/lib/pylint
tasks/lib/singledispatch.py
tasks/lib/six.py
tasks/lib/wrapt
test/
