*.dist-info
*.pth
*.pyc
__pycache__
*venv
.editorconfig
.python-version
.jshintrc
.travis.yml
grunt-pylint*.tgz
node_modules
npm-debug.log
reports
tasks/lib/astroid
tasks/lib/bin
tasks/lib/isort
tasks/lib/lazy_object_proxy
tasks/lib/mccabe.py
tasks/lib/pylint
tasks/lib/six.py
tasks/lib/typed_ast
tasks/lib/wrapt
test/
