language:
  - node_js

install:
  - npm install -g grunt-cli
  - npm install
  - npm run-script devsetup

script:
  - grunt
  - cd test/integration_test
  - ./run_test.sh

notifications:
  email: false
